
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.link {
  text-decoration: none;
  color: #353B3C;
}
.font {
  font-family: 'Source Code Pro', monospace; 
}

.white {
  background-color: #EEF0F2;
}

.sand {
  background-color: #C6C7C4;
}

.gray {
  background-color: #A2999E;
}

.brown {
  background-color: #846A6A;
}

.onyx {
  background-color: #353B3C;
}

#parent {
  height: 40px;
  white-space: nowrap;
  overflow: hidden; 
  font-size: 28px;
  color:  #353B3C;
  position: relative;
}

/* Animation */
#parent {
  animation: animated-text 2s steps(30,end) 1s 1 normal both
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 480px;}
}
 /* #card {
   width: 100%;
 } */
.blog {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  align-items: center;
}


#card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 10px;
  margin-right: 10px;
  min-height: 200px;
  min-width: 90vw;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  margin: auto;
  padding-top: 25px;

}

.blue {
  color: rgb(170, 138, 156);
}

.red {
  color: brown;
}

i {
  padding-right: 5px;
  padding-left: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.row {
  flex-direction: row;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 1.5rem;    
}

.page-container {
  position: relative;
  min-height: 95vh;
}

.content-wrap {
  padding-bottom: 1.5rem;   
}

.column {
  flex-direction: column;
}

